@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');

input, .header__title {
    font-family: 'Montserrat Alternates', sans-serif;
}


.header {
    background-color: grey;
}

.header__container {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.header__title {
    box-sizing: border-box;
    font-weight: 700;
    cursor: pointer;
    flex: 0.22;
}

.header__title > h1 {
    margin-left: 20px;
}

.header__searchInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.6;
}

.header__searchInput > input {
    width: 300px;
    height: 25px;
    border-radius: 7px 0px 0px 7px;
    outline: none;
    border: none;
}

.header__searchInput > input::placeholder {
    color: grey;
}

.header__searchIcon {
    background-color: rgba(0,0,0,0.8);
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
    transition: all 0.25s;
}

.header__searchIcon:hover {
    color: black;
    background-color: white
}

.header__SignIn {
    flex: 0.06;
    margin-left: auto;
}

.header__SignIn:hover {
    font-weight: 600;
}